*
{
    padding: 0%;
    margin: 0;
}
body{
    height: 100vh;
  overflow: hidden;
}
.images
{
    animation: image 5s infinite;
}
img
{
    height: 40vw;
    width: 40vw;
    margin-left: 50px;
    border-radius: 35px;
animation: show 1s ease-in ;
margin-top: 15px;
border: 1px solid rgb(134, 153, 156);
}
.border
{
    margin-top: 1vw;
    margin-left: 5vw;
animation: show 2s 1 ease;
}
.container1
{
 background-image: linear-gradient(to right,rgb(32, 39, 41) ,rgb(20, 17, 20));
height: 55px;
display: flex;
text-align: center;
margin-left: 7px;
margin-right: 7px;
margin-top: 7px;
}
.text
{
    color: rgb(255, 248, 248);
    float: left;
    font-family: 'Trebuchet MS';

}.bars
{
  display: flex;
 justify-content: end;
 height: 100%;
 width: 100%;
 align-items: center;
 margin-right: 10px;
 word-spacing: 5px;
}.J
{
    display: flex;
    margin-top: 15px;
    margin-left: 5px;
}.home
{
    color: rgb(202, 8, 8);
    border:  1px solid rgb(175, 10, 10);
     font-size: 20px;
     border-radius: 5px;
     padding: 3px;
    border-radius: 20%;
    padding: 3px;
   background-color: transparent;
   padding: 7px;
}.ab
{
    color: rgb(202, 8, 8);
    border:  1px solid rgb(175, 10, 10);
     font-size: 20px;
     border-radius: 5px;
     padding: 3px;
    border-radius: 20%;
    padding: 3px;
   background-color: transparent;
   padding: 7px;
}.logout
{color: rgb(202, 8, 8);
    border:  1px solid rgb(255, 255, 255);
     font-size: 20px;
     border-radius: 5px;
     padding: 3px;
    border-radius: 20%;
    padding: 3px;
   background-color: transparent;
   padding: 7px;
}.gal
{
    color: rgb(202, 8, 8);
    border:  1px solid rgb(255, 255, 255);
     font-size: 20px;
     border-radius: 5px;
     padding: 3px;
    border-radius: 20%;
    padding: 3px;
   background-color: transparent;
   padding: 7px; 
}a{
    color: rgb(255, 255, 255);
    font-family: Verdana ;
    text-decoration: none;
}@keyframes show
{0%,
 25%
 {
margin-left: -200px;
 }100%
 {
 transform: translateX(25px)
 }
}
@keyframes raid
 {100%
    {
        border-radius: 50%;
    }75%
    {
        border-radius: 30%;
    }50%
    {
        border-radius: 20%;
    }35%
    {
        border-radius: 0%;
        transform: rotate(10deg);
    } 
 }
 
.image{

width: 100%;
    height: 100%;
    background-image:url('cardo.avif');
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
 margin-bottom: 0px;
 
}.texts:hover
{
   cursor: pointer; 
 
}.texttype
{
    margin-top: 100px;
    margin-left: 80px;
    
    color: rgb(253, 253, 253);
    
}.nope
{
  display: flex;
 
    
}.head
{
    margin-top: -5%;
   color: red;
    margin-right: 2vw;
    padding: 3%;
    text-align: center;
    gap: 2%;
    border: solid 1px rgb(241, 73, 12);
    border-radius: 5vw;
    box-shadow: 1px 1px 15px 1px red;
    font-size: 6vw;
}
.body
{
    font-size: 2.5vw;
    color: rgb(253, 249, 248);
    opacity: .8;
    animation: letter 3s infinite;
    margin-top: 50px;
    
}



.logout:hover{
    background-color: red;
        box-shadow: 0px 0px 15px 0 red;
        color: aliceblue;
}

.home:hover{
    background-color: red;
        box-shadow: 0px 0px 15px 0 red;
        color: aliceblue;
}
.ab:hover{
    background-color: red;
        box-shadow: 0px 0px 15px 0 red;
        color: aliceblue;
}

.gal:hover{
    background-color: red;
        box-shadow: 0px 0px 15px 0 red;
        color: aliceblue;
}

.head:hover{
    scale: 1.1;
    transition: 2s;
   
}
.subbody
{
    font-size: 39px;
    opacity: .6;
}
.images:hover
{
    transform: rotate(2deg) ;
    scale: 1.1;
    transition: 2s;
    cursor: pointer;
}

@keyframes image
{
100%
{
    transform: translateY(0px);
    transform: rotate(3deg);
}
50%
{
    transform: translateY(-20px);
    transform: rotate(1deg);
}
}
@keyframes letter
{
100%
{
    transform: translateY(0px);

}
50%
{
    transform: translateY(-20px);
  background-color: orange;
  border: 3px solid;

}
}
.rolling
{
    background-image: url("WGrf.gif");
    width:15vw;
    height:300px;
    background-repeat: no-repeat;
    margin-top: 2vw;
    margin-left:35%;
    background-position: center;
    
   
    border-radius: 50%;
    background-blend-mode: hard-light;

}
.rolling:hover{
    scale:1.8;
    transition: 3s;
}
